<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true"
      executionTimeout="14400"  />
    <authentication mode="Forms" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WebService.Service" behaviorConfiguration="WebService.ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="WebService.IService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="10000000" maxBufferSize="10000000" transferMode="Streamed"/>
      </webHttpBinding>
    </bindings>


    <behaviors>
      <serviceBehaviors>
        <behavior name="WebService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <location path="Web.config">
    <system.web>
      <identity impersonate="true" />
    </system.web>
  </location>
</configuration>